<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Appvuesimple</title>

    <script defer type="text/javascript" src="./assets/js/main.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="./assets/img/favicon.ico"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="searchBar">
        <input
          type="search"
          v-model="searchString"
          @change="searchUser()"
          placeholder="Recherchez un nom / prénom / mail"
        />
        <button
          @onClick="searchUser()">
          Rechercher
        </button>
      </div>

      <div class="container">
        <ul v-for="r in data.users" class="results">
          <li>
            <div
              style="width:100%; display: flex; justify-content: center;">
              <img :src="r.image" alt="r.lastName" style="width:200px;"></img>
            </div>
          </li>
          <li><strong>Nom: </strong>{{ r.lastName }}</li>
          <li><strong>Prénom: </strong>{{ r.firstName }}</li>
          <li>
            <strong>Date de naissance: </strong>{{ r.birthDate }} ({{ r.age }} ans)
          </li>
          <li><strong>Sexe: </strong>{{ r.gender }}</li>
          <li style="overflow-wrap: break-word;"><strong>Mail: </strong>{{ r.email }}</li>
          <li><strong>Tel: </strong>{{ r.phone }}</li>
          <li><strong>Adresse: </strong>{{ r.address.address }}</li>
          <li><strong>Code postal: </strong>{{ r.address.postalCode }}</li>
          <li>
            <strong>Ville: </strong>{{ r.address.city }} ({{ r.address.state }})
          </li>
          <li><strong>Localisation GPS: </strong>
            <a
              :href="urlGoogleMap(r.address.coordinates.lat, r.address.coordinates.lng)"
              target="”_blank”"
              rel="noreferrer noopener">
              maps ↗
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
