<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <title>Vue.js | API</title>

    <script defer type="text/javascript" src="main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="main" v-cloak>
      <div class="searchBar">
        <input
          type="search"
          v-model="searchString"
          @change="getAiresConvoit()"
          placeholder="Rechercher un parking..."
        />
      </div>

      <!-- <ul v-for="p in data.records" @change="getParking()">
        <li>{{p.fields.nom_complet}}</li>
      </ul> -->

      <div v-for="p in data.records" class="results">
        <ul>
          <li><strong>Nom:</strong> {{p.fields.nom_complet}}</li>
          <li>
            <strong>Présentation:</strong>
            {{p.fields.presentation}}
          </li>
          <li>
            <strong>Capacités de voitures:</strong>
            {{p.fields.capacite_voiture}} voitures
          </li>
          <li><strong>Adresse:</strong> {{p.fields.adresse}}</li>
          <li><strong>Commune:</strong> {{p.fields.commune}}</li>
          <li><strong>Service vélo:</strong> {{p.fields.service_velo}}</li>
          <li>
            <strong>Stationnement de vélo sécurisés:</strong>
            {{p.fields.stationnement_velo_securise}}
          </li>
          <li><strong>Code postal:</strong> {{p.fields.code_postal}}</li>
        </ul>

        <div>
          <iframe
            id="mapFrame"
            width="500"
            height="300"
            :src="urlGoogleMap(p.fields.location[0], p.fields.location[1])"
            style="border: 2px solid black; border-radius: 5px"
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- TODO :

- Faire une recherche par nom de parking, commune, adresse, capacité de voitures, code postal
- Optimiser la recherche (faire un système de pagination
  -> Commencer de 0 à 10, puis set la requete en partant de 10, puis 20, ...)
  -> déjà recherché : "api charger que les 10 premier element puis charger les autres en différé"
- Revoir le formatage de la présentation

-->
